In [256]:
# Importacion del ibrerias
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, root_mean_squared_error

In [257]:
# Importacion de datos 
geo_0 = pd.read_csv('geo_data_0.csv')
geo_1 = pd.read_csv('geo_data_1.csv')
geo_2 = pd.read_csv('geo_data_2.csv')

# 1. Analisis Exploratorio

In [258]:
# Analisis de datos geo_0
print(geo_0.info())
geo_0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB
None

          id        f0        f1        f2     product
0      txEyH  0.705745 -0.497823  1.221170  105.280062
1      2acmU  1.334711 -0.340164  4.365080   73.037750
2      409Wp  1.022732  0.151990  1.419926   85.265647
3      iJLyR -0.032172  0.139033  2.978566  168.620776
4      Xdl7t  1.988431  0.155413  4.751769  154.036647
...      ...       ...       ...       ...         ...
99995  DLsed  0.971957  0.370953  6.075346  110.744026
99996  QKivN  1.392429 -0.382606  1.273912  122.346843
99997  3rnvd  1.029585  0.018787 -1.348308   64.375443
99998  7kl59  0.998163 -0.528582  1.583869   74.040764
99999  1CWhH  1.764754 -0.266417  5.722849  149.633246

[100000 rows x 5 columns]

In [259]:
# Analisis de datos geo_1
print(geo_1.info())
geo_1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB
None

          id         f0         f1        f2     product
0      kBEdx -15.001348  -8.276000 -0.005876    3.179103
1      62mP7  14.272088  -3.475083  0.999183   26.953261
2      vyE1P   6.263187  -5.948386  5.001160  134.766305
3      KcrkZ -13.081196 -11.506057  4.999415  137.945408
4      AHL4O  12.702195  -8.147433  5.004363  134.766305
...      ...        ...        ...       ...         ...
99995  QywKC   9.535637  -6.878139  1.998296   53.906522
99996  ptvty -10.160631 -12.558096  5.005581  137.945408
99997  09gWa  -7.378891  -3.084104  4.998651  137.945408
99998  rqwUm   0.665714  -6.152593  1.000146   30.132364
99999  relB0  -3.426139  -7.794274 -0.003299    3.179103

[100000 rows x 5 columns]

In [260]:
# Analisis de datos geo_2
print(geo_2.info())
geo_2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB
None

          id        f0        f1        f2     product
0      fwXo0 -1.146987  0.963328 -0.828965   27.758673
1      WJtFt  0.262778  0.269839 -2.530187   56.069697
2      ovLUW  0.194587  0.289035 -5.586433   62.871910
3      q6cA6  2.236060 -0.553760  0.930038  114.572842
4      WPMUX -0.515993  1.716266  5.899011  149.600746
...      ...       ...       ...       ...         ...
99995  4GxBu -1.777037  1.125220  6.263374  172.327046
99996  YKFjq -1.261523 -0.894828  2.524545  138.748846
99997  tKPY3 -1.199934 -2.957637  5.219411  157.080080
99998  nmxp2 -2.419896  2.417221 -5.548444   51.795253
99999  V9kWn -2.551421 -2.025625  6.090891  102.775767

[100000 rows x 5 columns]

# 2. Entrenamiento de modelo

In [261]:
# Funcion para predecir con el modelo de regresion lineal 

def pred(df): 
    # Se elimina la columna id ya que no brinda informacion relevante
    # Caracteristicas y objetivo 
    features = df.drop(['product','id'], axis=1) 
    target = df['product']

    # Division de datos en conjuntos de entrenamiento y validacion 
    features_train, features_valid, target_train, target_valid = train_test_split(features,target, test_size = 0.25, random_state = 123)

    # Entrenar modelo de regresion lineal 
    model = LinearRegression() 
    model.fit(features_train, target_train)

    # Predicciones con el conjunto de validacion 
    predict = model.predict(features_valid)

    return predict, target_valid

In [262]:
# calculo de media de la prediccion y RMSE para geo_0
predict_0, target_valid_0 = pred(geo_0)

avg_volume_0 = predict_0.mean() 
RMSE_0 = root_mean_squared_error(target_valid_0, predict_0)

# calculo de media de la prediccion y RMSE para geo_1
predict_1, target_valid_1 = pred(geo_1)

avg_volume_1 = predict_1.mean() 
RMSE_1 = root_mean_squared_error(target_valid_1, predict_1)

# calculo de media de la prediccion y RMSE para geo_2
predict_2, target_valid_2 = pred(geo_2)

avg_volume_2 = predict_2.mean() 
RMSE_2 = root_mean_squared_error(target_valid_2, predict_2)


print(f'Volumen medio de reservas predicho:\n\n\t- geo_data_0: {avg_volume_0}\n\t- geo_data_1: {avg_volume_1}\n\t- geo_data_2: {avg_volume_2}\n')
print(f'RMSE del modelo para:\n\n\t- geo_data_0: {RMSE_0}\n\t- geo_data_1: {RMSE_1}\n\t- geo_data_2: {RMSE_2}')

Volumen medio de reservas predicho:

	- geo_data_0: 92.54936189116309
	- geo_data_1: 69.28001860653976
	- geo_data_2: 95.09859933591373

RMSE del modelo para:

	- geo_data_0: 37.64786282376177
	- geo_data_1: 0.8954139804944315
	- geo_data_2: 40.12803006598514

# 3. Calculo de ganancia

In [263]:
budget = 100e6 # Presupuesto total
pozos = 200 # Pozos por seleccionar
ingreso_barril = 4500 # Ingreso por mil barriles 
ingreso_necesario_pozo = 500e3 # Ingreso requerido por hoyo 
risk_threshold = 2.5 # Umbral maximo de riesgo permitido 
n_top = 200 #primeros 200 mejores resultados

In [264]:
# Funcion para seleccionar los puntos de la region con mayor volumen de reservas segun el modelo 
def selec_hoyos(predictions):
    sorted_index = np.argsort(predictions)[::-1] 
    top_index = sorted_index[:n_top]
    top_predictions = predictions[top_index]
    
    return top_index, top_predictions

# Funcion para calcular el beneficio
def calc_profit(total_predicted_product):
    revenue = total_predicted_product * ingreso_barril
    profit = revenue - budget 
    return profit

In [265]:
# Conseguir la reserva de medias predichas para los 200 pozos para geo_0
top_index_0, top_predictions_0 = selec_hoyos(predict_0)
avg_top_pred_0 = top_predictions_0.mean()

# Conseguir la reserva de medias predichas para los 200 pozos para geo_1
top_index_1, top_predictions_1 = selec_hoyos(predict_1)
avg_top_pred_1 = top_predictions_1.mean()

# Conseguir la reserva de medias predichas para los 200 pozos para geo_2
top_index_2, top_predictions_2 = selec_hoyos(predict_2)
avg_top_pred_2 = top_predictions_2.mean()

print('Media de resrvas predichas en los mejores 200 pozos:\n')
print(f'\t- geo_data_0: {avg_top_pred_0:.2f} unidades')
# Comparar el umbral minimo de (111.1 unidades por pozo) 
if avg_top_pred_0 > ingreso_necesario_pozo/ingreso_barril:
    print("\tLa produccion media en los 200 pozos supera el minimo requerido de 111.1 unidades\n")
else: 
    print('\tLa produccion media en los top 200 pozos es inferior a 111.1 unidades\n') 

print(f'\t- geo_data_1: {avg_top_pred_1:.2f} unidades')
if avg_top_pred_1 > ingreso_necesario_pozo/ingreso_barril:
    print("\tLa produccion media en los 200 pozos supera el minimo requerido de 111.1 unidades\n")
else: 
    print('\tLa produccion media en los top 200 pozos es inferior a 111.1 unidades\n') 

print(f'\t- geo_data_2: {avg_top_pred_2:.2f} unidades')
if avg_top_pred_2 > ingreso_necesario_pozo/ingreso_barril:
    print("\tLa produccion media en los 200 pozos supera el minimo requerido de 111.1 unidades\n")
else: 
    print('\tLa produccion media en los top 200 pozos es inferior a 111.1 unidades\n')

Media de resrvas predichas en los mejores 200 pozos:

	- geo_data_0: 155.17 unidades
	La produccion media en los 200 pozos supera el minimo requerido de 111.1 unidades

	- geo_data_1: 138.78 unidades
	La produccion media en los 200 pozos supera el minimo requerido de 111.1 unidades

	- geo_data_2: 149.72 unidades
	La produccion media en los 200 pozos supera el minimo requerido de 111.1 unidades

In [266]:
# Calcular el beneficio potencial sin boostraping 

print(f'Beneficio potencial (sin bootstraping):\n')

#Geo_0 
total_product_top_0 = top_predictions_0.sum()
profit_0 = calc_profit(total_product_top_0)

print(f'\tgeo_data_0: ${profit_0:,.2f}')

#Geo_1
total_product_top_1 = top_predictions_1.sum()
profit_1 = calc_profit(total_product_top_1)

print(f'\tgeo_data_1: ${profit_1:,.2f}')

#Geo_2
total_product_top_2 = top_predictions_2.sum()
profit_2 = calc_profit(total_product_top_2)

print(f'\tgeo_data_2: ${profit_2:,.2f}')

Beneficio potencial (sin bootstraping):

	geo_data_0: $39,656,545.12
	geo_data_1: $24,900,928.92
	geo_data_2: $34,745,494.00

En base a las cifras obenidas anteriormente, haria la selecion de geo_data_0 ya que es la que entrega un mayor beneficio. Sin embargo primero deberiamos hacer el analisis del riesgo asociado para poder tomar una decision mas acertada.

# 4. Calculo de riesgos y ganancias para cada region

In [267]:
# funcion para aplicar la tecnica de bootstrapping para estrimar la distribucion del beneficio a partir de 200 pozos.

state = np.random.RandomState(45)

def bootstrap_profit(top_prediction, n_iterations = 1000):
    n_pozos = len(top_prediction)
    bootstrap_profits = []
    top_prediction = pd.Series(top_prediction)

    for i in range(n_iterations): 
        subsmaple = top_prediction.sample(frac = 1, replace=True, random_state=state) 
        total_predicted = subsmaple.sum()
        profit = calc_profit(total_predicted)
        bootstrap_profits.append(profit)

    bootstrap_profits = np.array(bootstrap_profits)
    mean_profit = np.mean(bootstrap_profits)
    ci = np.percentile(bootstrap_profits, [2.5,97.5]) 

    riesgo = (np.sum(bootstrap_profits < 0) / n_iterations ) * 100

    return mean_profit, ci, riesgo, bootstrap_profits

In [268]:
print(f'Beneficio promedio (bootstrapping), Intervalo de confianza y reiesgo de perdida: \n')

# Calcular el riesgo y ganancia para geo_0
mean_profit_0, ci_0, riesgo_0, bootstrap_profits_0 = bootstrap_profit(top_predictions_0)

print('\tgeo_data_0\n')
print(f'\t\t- Beneficio promedio: ${mean_profit_0:,.2f}')
print(f'\t\t- Intervalo de confianza (95%): (${ci_0[0]:,.2f}, ${ci_0[1]:,.2f})')
print(f'\t\t- Riesgo de perdida: {riesgo_0:.2f}%\n')

# Calcular el riesgo y ganancia para geo_1
mean_profit_1, ci_1, riesgo_1, bootstrap_profits_1 = bootstrap_profit(top_predictions_1)

print('\tgeo_data_1\n')
print(f'\t\t- Beneficio promedio: ${mean_profit_1:,.2f}')
print(f'\t\t- Intervalo de confianza (95%): (${ci_1[0]:,.2f}, ${ci_1[1]:,.2f})')
print(f'\t\t- Riesgo de perdida: {riesgo_1:.2f}%\n')

# Calcular el riesgo y ganancia para geo_2
mean_profit_2, ci_2, riesgo_2, bootstrap_profits_2 = bootstrap_profit(top_predictions_0)

print('\tgeo_data_2\n')
print(f'\t\t- Beneficio promedio: ${mean_profit_2:,.2f}')
print(f'\t\t- Intervalo de confianza (95%): (${ci_2[0]:,.2f}, ${ci_2[1]:,.2f})')
print(f'\t\t- Riesgo de perdida: {riesgo_2:.2f}%\n')

Beneficio promedio (bootstrapping), Intervalo de confianza y reiesgo de perdida:

	geo_data_0

		- Beneficio promedio: $39,646,957.06
		- Intervalo de confianza (95%): ($38,989,434.97, $40,344,068.36)
		- Riesgo de perdida: 0.00%

	geo_data_1

		- Beneficio promedio: $24,901,125.11
		- Intervalo de confianza (95%): ($24,865,283.57, $24,938,430.90)
		- Riesgo de perdida: 0.00%

	geo_data_2

		- Beneficio promedio: $39,633,566.65
		- Intervalo de confianza (95%): ($38,990,349.21, $40,386,928.13)
		- Riesgo de perdida: 0.00%

# Conclusion

Una vez aplicada la tecnica de bootstraping se puede seguir observando que la **Region 0** tiene el mayor beneficio promedio de $39.64M asi mismo tiene un valor de riesgo de 0% lo cual nos indica que sigue siendo una excelente opcion.

La **Region 0** es la mejor opcion para el desarrollo de pozos petroliferos ya que esta ofrece el mayor beneficio promedio, un riesgo de perdida de 0% y un potencial de beneficio maximo ligeramente superior al de la Region 2. Esta seleccion se alinea con los resultados anteriores y cumple con los criterios de maximizacion de beneficios y minimizacion de riesgos.